@font-face {
	font-family: 'MiddleEarth';
	src: url(../../assets/fonts/MiddleEarth.woff2) format('woff2'),
	url(../../assets/fonts/MiddleEarth.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}